:root{
    /* --- THE OFFICIAL SCHOOL PALETTE --- */
    --color-charcoal: #272727;
    --color-white: #ffffff;
    --color-mapua-red: #a00100;
    --color-mapua-blue: #002455;

    /* --- COLOR VARIETIES --- */
    --red-hover: #800100;
    --blue-soft: #003a8c;
    --grey-lines: #3d3d3d;
    --grey-hover: #333333;

    /* --- DEFAULT COLORS (LIGHT MODE) --- */
    --sidebar-bg: var(--color-charcoal);
    --sidebar-line: var(--grey-lines);
    --sidebar-hover: var(--grey-hover);
    --page-bg: var(--color-white);
    --page-bg-dark: var(--color-charcoal);
    
    --accent-primary: var(--color-mapua-red);
    --accent-primary-hover: var(--red-hover);
    --accent-secondary: var(--color-mapua-blue);
    --accent-secondary-hover: var(--blue-soft);
    
    --text-on-dark: var(--color-white);
    --text-on-light: var(--color-charcoal);
    --text-muted: #a0a0a0;
}

/* --- DARK MODE --- */
[data-theme="dark"] {
    --page-bg: #121212;
    --sidebar-bg: #000000;

    --text-on-light: #e0e0e0;

    --accent-primary: #c20100;

}

body {
            margin: 0;
            padding: 0;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}