<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Navigation Bar</title>
    <link rel="stylesheet" href="twsStyle.css">
</head>
<body>
    <!-- Sidebar Navbar -->
    <div class="sidebar">

        <div class="logo-area">
            <img src="logo.png" alt="Logo">
        </div>

        <nav class="menu">
            <a href="#" class="menu-item">
                <p>Syllabus</p>
            </a>

            <a href="#" class="menu-item">
                <p>ATA</p>
            </a>

            <a href="#" class="menu-item">
                <p>TLA</p>
            </a>

            <a href="#" class="menu-item active">
                <p>TWS</p>
            </a>

            <a href="#" class="menu-item">
                <p>Dark/Light Mode</p>
            </a>
        </nav>

        <div class="sidebar-bottom">
            <a href="#" class="menu-item">
                <p>Sign out</p>
            </a>
        </div>
    </div>

</body>
</html>