<nav class="sidebar">
    <div class="sidebar-logo">
        <img src="/public/images/logo.png" alt="Logo">
    </div>
    <ul class="sidebar-menu">
        <li><a href="/syllabus"><span class="icon-box">S</span><span class="menu-text">Syllabus</span></a></li>
        <li><a href="/ata"><span class="icon-box">A</span><span class="menu-text">ATA</span></a></li>
        <li><a href="/" class="active"><span class="icon-box">T</span><span class="menu-text">TLA</span></a></li>
        <li><a href="/twa"><span class="icon-box">T</span><span class="menu-text">TWA</span></a></li>
        <li><a href="/faculty"><span class="icon-box">F</span><span class="menu-text">Faculty</span></a></li>
    </ul>
    <div class="sidebar-footer">
        <button class="sign-out-btn"><span class="menu-text">Sign out</span></button>
    </div>
</nav>