<div class="sidebar">
  <div class="logo-area">
    <img src="/twa/public/logo.png" alt="Logo" class="logo">
  </div>

  <nav class="menu">
    <a href="#" class="menu-item"><p>Syllabus</p></a>
    <a href="#" class="menu-item"><p>ATA</p></a>
    <a href="#" class="menu-item"><p>TLA</p></a>

    <a href="/twa/dashboard" class="menu-item active"><p>TWS</p></a>

    <a href="#" class="menu-item"><p>Dark/Light Mode</p></a>
  </nav>

  <div class="sidebar-bottom">
    <a href="#" class="menu-item"><p>Sign out</p></a>
  </div>
</div>