<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>

    <link rel="stylesheet" href="/css/landingPage.css?v=<%= new Date().getTime() %>">
</head>
<body>
    <div class="dashboard">
        <%- include('./partials/sidebar.ejs') %>

        <main class="main-content">
        
            <header class="top-header">
                <img src="/images/MMCM logo.png" alt="College Logo">
                <h2>College of Engineering <br> and  Architecture</h2>
            </header>

            <section class="content-panel">

                <div class="content-card">
                    <div class="content-label">Mission</div>

                    <div class="content-body">
                        <p>
                            A. The institute shall provide a learning environment in order for its students to acquire the attributes that will make them globally competitive & locally in-demand. <br>
                            B. The institute shall engagein cutting edge and economically viable research, development and innovation that is relevantlocally and beyond. <br>
                            C. The instituteshall provide state-of-the-art solutions to problemsof industries and communities locallyand beyond.
                        </p>
                    </div>
                </div>

                <div class="content-card">
                    <div class="content-label">Vision</div>

                    <div class="content-body centered">
                        <p>
                            Mapúa Malayan Colleges Mindanao stands among the world’s leading educational institutions.
                        </p>
                    </div>
                </div>

            </section>

        </main>
    </div>
    <script src="/landingPage.js?v=<%= new Date().getTime() %>"></script>
</body>
</html>
